@media all and (max-width: 670px){
    /* Header */
    .navbar{
        height: auto;
    }
    .headermenu{
        padding: 0;
        flex-direction: column;
        align-items: self-start;
        width: 100%;
    }
    .imglogoheader{
        width: 135px;
        height: 27px;
        padding-left: 40px;
        margin-top: 20px;
        
    }
    .headermenu ul{
        font-size: 14px;
        display: flex;
        flex-direction: row;
        gap: 50px;
        width: 100%;
        justify-content: center;
    }
    .headermenu ul li{
        margin-right: 0;
    }
    /* main */
    .titlepage{
        font-size: 20px;
        max-width: 360px;
        margin-bottom: 20px;
    }
    .inputtext{
        width: 231px;
        height: 23px;
        border-radius: 5px;
    }
    textarea{
        width: 231px;
        height: 100px;
        border-radius: 5px;
    }
    label{
        font-size: 12px;
    }
    button{
        width: 135px;
        height: 28px;
    }
    span{
        font-size: 10px;
    }
    .name{
        display: flex;
        flex-direction: column;
    }
    .email{
        display: flex;
        flex-direction: column;
    }
    .phone{
        display: flex;
        flex-direction: column;
    }
    .subject{
        display: flex;
        flex-direction: column;
    }
    .message{
        display: flex;
        flex-direction: column;
    }
    .form{
        width: 280px;
        height: 470px;
        border-radius: 10px;
    }
    .containermain{
        align-items: center;
        max-width: 360px;
    }
    /* Footer */
    .footer{
        flex-direction: column;
        width: 100%;
        gap: 0;
        padding-top: 20px;
        justify-content: flex-start;
    }
    .imglogofooter{
        width: 143px;
        padding: 0px;
    }
    .bottnav{
        width:fit-content;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px 40px 30px 40px;
        border-radius: 0%;
        gap: 55px;
    }
    .emailfavicon{
        width: 25px;
        margin-right: 17px;
    }
    .tlpfavicon{
        width: 20px;
    }
    .judulmenu{
        font-size: 14px;
        
    }
    .listmenu{
        font-size: 12px;
        margin-left: 30px;
    }
    .bottmenu{
        flex-direction: column;
        gap: 0;
        margin-left: 40px;
    }
}